[Unit]
Description=hyperion monitoring metrics
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm -v /var/docker/hyperion/influxdb:/var/lib/influxdb -v /var/docker/hyperion/supervisor:/var/log/supervisor -p 8083:8083 -p 8086:8086 -e HOST_IP=${COREOS_PUBLIC_IPV4} --name hyperion-monitoring-metrics nlamirault/hyperion-monitoring-metrics:0.6.0
ExecStartPost=/usr/bin/etcdctl set /hyperion/monitoring-metrics/host ${COREOS_PUBLIC_IPV4}
ExecStartPost=/usr/bin/etcdctl set /hyperion/monitoring-metrics/ui 8083
ExecStartPost=/usr/bin/etcdctl set /hyperion/monitoring-metrics/mgmt 8086
ExecStop=/usr/bin/docker stop hyperion-monitoring-metrics
ExecStop=/usr/bin/docker rm hyperion-monitoring-metrics
ExecStopPost=/usr/bin/etcdctl rm /hyperion/monitoring-metrics/host
ExecStopPost=/usr/bin/etcdctl rm /hyperion/monitoring-metrics/ui
ExecStopPost=/usr/bin/etcdctl rm /hyperion/monitoring-metrics/mgmt

[X-Fleet]
X-Conflicts=hyperion-monitoring-metrics.service
