[Unit]
Description=hyperion monitoring ui
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm -v /var/docker/hyperion/nginx:/var/log/nginx -v /var/docker/hyperion/supervisor:/var/log/supervisor -p 9190:80 -e HOST_IP=${COREOS_PUBLIC_IPV4} --name hyperion-monitoring-ui nlamirault/hyperion-monitoring-ui:0.6.1
ExecStartPost=/usr/bin/etcdctl set /hyperion/monitoring-ui/host ${COREOS_PUBLIC_IPV4}
ExecStartPost=/usr/bin/etcdctl set /hyperion/monitoring-ui/ui 9190
ExecStop=/usr/bin/docker stop hyperion-monitoring-ui
ExecStop=/usr/bin/docker rm hyperion-monitoring-ui
ExecStopPost=/usr/bin/etcdctl rm /hyperion/monitoring-ui/host
ExecStopPost=/usr/bin/etcdctl rm /hyperion/monitoring-ui/ui 9190

[X-Fleet]
X-Conflicts=hyperion-monitoring-ui.service
